.container {
	display: flex;
	gap: 12px;
	justify-content: center;
}

.input {
	width: 377px;
}

.clean {
	margin-left: 80px;
}

.wrapper {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top: 78px;
	display: flex;
	gap: 16px;
	justify-content: center;
}